# OrientedRCNN model configuration for aircraft detection
# Two-stage detector

type: OrientedRCNN
backbone:
  type: ResNet
  depth: 50
  num_stages: 4
  out_indices: [0, 1, 2, 3]
  frozen_stages: 1
  norm_cfg:
    type: BN
    requires_grad: true
  norm_eval: true
  style: pytorch
  init_cfg:
    type: Pretrained
    checkpoint: torchvision://resnet50

neck:
  type: FPN
  in_channels: [256, 512, 1024, 2048]
  out_channels: 256
  num_outs: 5

rpn_head:
  type: OrientedRPNHead
  in_channels: 256
  feat_channels: 256
  version: ${angle_version}
  anchor_generator:
    type: AnchorGenerator
    scales: [8]
    ratios: [0.5, 1.0, 2.0]
    strides: [4, 8, 16, 32, 64]
  bbox_coder:
    type: MidpointOffsetCoder
    angle_range: ${angle_version}
    target_means: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    target_stds: [1.0, 1.0, 1.0, 1.0, 0.5, 0.5]
  loss_cls:
    type: CrossEntropyLoss
    use_sigmoid: true
    loss_weight: 1.0
  loss_bbox:
    type: SmoothL1Loss
    beta: 0.1111111111111111
    loss_weight: 1.0

roi_head:
  type: OrientedStandardRoIHead
  bbox_roi_extractor:
    type: RotatedSingleRoIExtractor
    roi_layer:
      type: RoIAlignRotated
      out_size: 7
      sample_num: 2
      clockwise: true
    out_channels: 256
    featmap_strides: [4, 8, 16, 32]
  bbox_head:
    type: RotatedShared2FCBBoxHead
    in_channels: 256
    fc_out_channels: 1024
    roi_feat_size: 7
    num_classes: 20
    bbox_coder:
      type: DeltaXYWHAOBBoxCoder
      angle_range: ${angle_version}
      norm_factor: null
      edge_swap: true
      proj_xy: true
      target_means: [0.0, 0.0, 0.0, 0.0, 0.0]
      target_stds: [0.1, 0.1, 0.2, 0.2, 0.1]
    reg_class_agnostic: true
    loss_cls:
      type: CrossEntropyLoss
      use_sigmoid: false
      loss_weight: 1.0
    loss_bbox:
      type: SmoothL1Loss
      beta: 1.0
      loss_weight: 1.0
    init_cfg:
      type: Normal
      layer: Linear
      std: 0.01

# Training configuration
train_cfg:
  rpn:
    assigner:
      type: MaxIoUAssigner
      pos_iou_thr: 0.7
      neg_iou_thr: 0.3
      min_pos_iou: 0.3
      match_low_quality: true
      ignore_iof_thr: -1
    sampler:
      type: RandomSampler
      num: 256
      pos_fraction: 0.5
      neg_pos_ub: -1
      add_gt_as_proposals: false
    allowed_border: 0
    pos_weight: -1
    debug: false
  rpn_proposal:
    nms_pre: 2000
    max_per_img: 2000
    nms:
      type: nms
      iou_threshold: 0.8
    min_bbox_size: 0
  rcnn:
    assigner:
      type: MaxIoUAssigner
      pos_iou_thr: 0.5
      neg_iou_thr: 0.5
      min_pos_iou: 0.5
      match_low_quality: false
      iou_calculator:
        type: RBboxOverlaps2D
      ignore_iof_thr: -1
    sampler:
      type: RRandomSampler
      num: 512
      pos_fraction: 0.25
      neg_pos_ub: -1
      add_gt_as_proposals: true
    pos_weight: -1
    debug: false

test_cfg:
  rpn:
    nms_pre: 2000
    max_per_img: 2000
    nms:
      type: nms
      iou_threshold: 0.8
    min_bbox_size: 0
  rcnn:
    nms_pre: 2000
    min_bbox_size: 0
    score_thr: 0.05
    nms:
      iou_thr: 0.1
    max_per_img: 2000