type: R3Det

backbone:
  type: ResNet
  depth: 50
  frozen_stages: 1
  init_cfg:
    type: Pretrained
    checkpoint: torchvision://resnet50
  norm_cfg:
    type: BN
    requires_grad: true
  norm_eval: true
  num_stages: 4
  out_indices: [0, 1, 2, 3]
  style: pytorch
  zero_init_residual: false

bbox_head:
  type: RotatedRetinaHead
  anchor_generator:
    type: RotatedAnchorGenerator
    octave_base_scale: 4
    ratios: [1.0, 0.5, 2.0]
    scales_per_octave: 3
    strides: [8, 16, 32, 64, 128]
  bbox_coder:
    type: DeltaXYWHAOBBoxCoder
    angle_range: oc
    edge_swap: false
    norm_factor: null
    proj_xy: false
    target_means: [0.0, 0.0, 0.0, 0.0, 0.0]
    target_stds: [1.0, 1.0, 1.0, 1.0, 1.0]
  feat_channels: 256
  in_channels: 256
  stacked_convs: 2
  num_classes: 20
  loss_bbox:
    type: SmoothL1Loss
    beta: 0.11
    loss_weight: 1.0
  loss_cls:
    type: FocalLoss
    use_sigmoid: true
    gamma: 2.0
    alpha: 0.25
    loss_weight: 1.0
  init_cfg:
    type: Normal
    layer: Conv2d
    std: 0.01

frm_cfgs:
  - featmap_strides: [8, 16, 32, 64, 128]
    in_channels: 256

neck:
  type: FPN
  in_channels: [256, 512, 1024, 2048]
  out_channels: 256
  num_outs: 5
  start_level: 1
  add_extra_convs: on_input

num_refine_stages: 1

refine_heads:
  - type: RotatedRetinaRefineHead
    anchor_generator:
      type: PseudoAnchorGenerator
      strides: [8, 16, 32, 64, 128]
    assign_by_circumhbbox: null
    bbox_coder:
      type: DeltaXYWHAOBBoxCoder
      angle_range: oc
      edge_swap: false
      norm_factor: null
      proj_xy: false
      target_means: [0.0, 0.0, 0.0, 0.0, 0.0]
      target_stds: [1.0, 1.0, 1.0, 1.0, 1.0]
    feat_channels: 256
    in_channels: 256
    stacked_convs: 2
    num_classes: 20
    loss_bbox:
      type: SmoothL1Loss
      beta: 0.11
      loss_weight: 1.0
    loss_cls:
      type: FocalLoss
      use_sigmoid: true
      gamma: 2.0
      alpha: 0.25
      loss_weight: 1.0
    init_cfg:
      type: Normal
      layer: Conv2d
      std: 0.01

train_cfg:
  s0:
    allowed_border: -1
    debug: false
    pos_weight: -1
    assigner:
      type: MaxIoUAssigner
      pos_iou_thr: 0.5
      neg_iou_thr: 0.4
      min_pos_iou: 0
      ignore_iof_thr: -1
      iou_calculator:
        type: RBboxOverlaps2D
  sr:
    - allowed_border: -1
      debug: false
      pos_weight: -1
      assigner:
        type: MaxIoUAssigner
        pos_iou_thr: 0.6
        neg_iou_thr: 0.5
        min_pos_iou: 0
        ignore_iof_thr: -1
        iou_calculator:
          type: RBboxOverlaps2D
  stage_loss_weights: [1.0]

test_cfg:
  nms_pre: 2000
  max_per_img: 2000
  min_bbox_size: 0
  score_thr: 0.05
  nms:
    iou_thr: 0.1
